*.class
*.jar
*.war
*.ear
hs_err_pid*
*.iml

.gradle
build/
.metadata
.gradle
bin/

tmp/
*.tmp
*.bak
*.swp
*~.nib

.classpath
.buildpath

.target
target/

Part01/**/.settings/